In [1]:
# Import packages
import sqlite3

In [2]:
# Connect to database
con = sqlite3.connect( 'sqlite_db_pythonsqlite.db' )
cur = con.cursor()

In [3]:
def execute_query( query, cursor ):
    """
    Executes query and fetches resulting table
    """
    cursor.execute( query )
    rows = cursor.fetchall()
    for row in rows:
        print( row )

In [4]:
# Test query to make sure everything is working
query1 = "SELECT * FROM Facilities"
execute_query( query1, cur )

(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [7]:
# Q10: Produce a list of facilities with a total revenue less than 1000.
# The output of facility name and total revenue, sorted by revenue. Remember
# that there's a different cost for guests and members! 
query2 = """
SELECT *
FROM (
		SELECT inner_sub.facility,
			SUM( inner_sub.cost ) AS total_revenue
		FROM (
	 			SELECT name AS facility,
    				CASE WHEN memid = 0 THEN guestcost * slots
					ELSE membercost * slots END AS cost
				FROM Bookings
				LEFT JOIN Facilities
				USING (facid) ) AS inner_sub
		GROUP BY inner_sub.facility
    ) AS outer_sub
WHERE outer_sub.total_revenue > 1000
ORDER BY outer_sub.total_revenue DESC;
"""
execute_query( query2, cur )

('Massage Room 1', 50351.600000000275)
('Massage Room 2', 14454.599999999995)
('Tennis Court 2', 14310)
('Tennis Court 1', 13860)
('Squash Court', 13468.0)
('Badminton Court', 1906.5)

In [6]:
# Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order 
query3 = """
    SELECT m1.surname, m1.firstname, 
	   m2.surname AS recommend_surname, 
	   m2.firstname AS recommend_firstname
FROM Members m1
LEFT JOIN Members m2
ON m1.recommendedby = m2.memid
ORDER BY m1.surname, m1.firstname;
"""
execute_query( query3, cur )

('Bader', 'Florence', 'Stibbons', 'Ponder')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Butters', 'Gerald', 'Smith', 'Darren')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Farrell', 'David', None, None)
('Farrell', 'Jemima', None, None)
('GUEST', 'GUEST', None, None)
('Genting', 'Matthew', 'Butters', 'Gerald')
('Hunt', 'John', 'Purview', 'Millicent')
('Jones', 'David', 'Joplette', 'Janice')
('Jones', 'Douglas', 'Jones', 'David')
('Joplette', 'Janice', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Pinker', 'David', 'Farrell', 'Jemima')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Rownam', 'Tim', None, None)
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Smith', 'Darren', None, None)
('Smith', 'Darren', None, None)
('Smith', 'Jack', 'Smith', 'Darren')
('Smith', 'Tracy', None, None)
('Stibbons', 'Ponder', 'Tracy', 'Burton')
('Tracy', 'Burton', None, None)
('Tupperware', 'Hyacinth', None, None)
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')

In [ ]:
# Q12: Find the facilities with their usage by member, but not guests */
query4 = ""
execute_query( query4, cur )

In [ ]:
# Q13: Find the facilities usage by month, but not guests 
query5 = ""
execute_query( query5, cur )