In [1]:
# Import required packages
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Read given data into pandas DataFrame
# Assign column names to attributes described in Data Description
# https://archive.ics.uci.edu/ml/datasets/Drug+consumption+%28quantified%29#
filename = 'drug_consumption.data'
column_names = ['ID', 'Age', 'Gender', 'Education', 'Country', 'Ethnicity', 
                'Nscore', 'Escore', 'Oscore', 'Ascore', 'Cscore', 'Impulsive', 'SS',
                'Alcohol', 'Amphet', 'Amyl', 'Benzos', 'Caff', 'Cannabis', 'Choc', 'Coke', 'Crack', 'Ecstasy', 'Heroin',
                'Ketamine', 'Legalh', 'LSD', 'Meth', 'Mushrooms', 'Nicotine', 'Semer', 'VSA']
data = pd.read_csv( filename, header=None )
data.columns = column_names
data.head()

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
1,2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
2,3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
3,4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
4,5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0

In [3]:
# Count number of missing values by column
missing_data = data.isnull().sum()
print( missing_data )

ID           0
Age          0
Gender       0
Education    0
Country      0
Ethnicity    0
Nscore       0
Escore       0
Oscore       0
Ascore       0
Cscore       0
Impulsive    0
SS           0
Alcohol      0
Amphet       0
Amyl         0
Benzos       0
Caff         0
Cannabis     0
Choc         0
Coke         0
Crack        0
Ecstasy      0
Heroin       0
Ketamine     0
Legalh       0
LSD          0
Meth         0
Mushrooms    0
Nicotine     0
Semer        0
VSA          0
dtype: int64

In [4]:
# *** This confirms that there are no values set to null in this data set. HOWEVER, this does not eliminate 
#     the possibility of missing values in other ways ***

In [5]:
print( data['ID'].value_counts().head() )
print ( data['ID'].nunique() == len( data ) )
# *** This indicates that there are no duplicate entries as every ID is unique

2      1
625    1
649    1
647    1
645    1
Name: ID, dtype: int64
True

In [6]:
print( data['ID'] == (data.index + 1))
# *** At first glance, the participant IDs appear to be consecutively assigned. 
# *** After testing to see if each ID corresponded with index + 1, it showed that somewhere there was an inconsistency
# *** On further inspection of the dataset, participants with data['ID'] 299 and 294 were ommitted.

0        True
1        True
2        True
3        True
4        True
        ...
1880    False
1881    False
1882    False
1883    False
1884    False
Length: 1885, dtype: bool

In [7]:
# Ambiguous floating point values in dataset were replaced with their more meaningful original values
# Data types were changed to match those of the original data
nscores = [12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
           29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 
           46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
escores = [16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30,
           31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44,
           45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59]
oscores = [24, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
           38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
           50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
ascores = [12, 16, 18, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
           34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47,
           48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
cscores = [17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
           32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45,
           46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59]

data['Age'] = data['Age'].replace( [-0.95197, -0.07854, 0.49788, 1.09449, 1.82213, 2.59171], 
                                   ['18-24', '25-34', '35-44', '45-54', '55-64', '65+'])
data['Gender'] = data['Gender'].replace( [0.48246, -0.48246], 
                                         ['Female', 'Male'] )
data['Education'] = data['Education'].replace( [-2.43591, -1.73790, -1.43719, -1.22751, -0.61113, -0.05921, 0.45468, 1.16365, 1.98437], 
                                               ['Left school before 16 years', 
                                                'Left school at 16 years', 
                                                'Left school at 17 years', 
                                                'Left school at 18 years',
                                                'Some college or university, no certificate or degree',
                                                'Professional certificate/diploma',
                                                'University degree',
                                                'Masters degree',
                                                'Doctorate degree'])
data['Country'] = data['Country'].replace( [-0.09765, 0.24923, -0.46841, -0.28519, 0.21128, 0.96082, -0.57009], 
                                           ['Australia', 'Canada', 'New Zealand', 'Other', 'Republic of Ireland', 'UK', 'USA'])
data['Ethnicity'] = data['Ethnicity'].replace( [-0.50212, -1.10702, 1.90725, 0.12600, -0.22166, 0.11440, -0.31685],
                                               ['Asian', 'Black', 'Mixed-Black/Asian', 'Mixed-White/Asian', 'Mixed-White/Black', 'Other', 'White'])
data['Nscore'] = data['Nscore'].replace( [-3.46436, -3.15735, -2.75696, -2.52197, -2.42317, -2.34360, -2.21844, -2.05048, -1.86962, -1.69163, -1.55078, -1.43907, -1.32828, -1.19430, -1.05308, -0.92104, -0.79151,
                                          -0.67825, -0.58016, -0.46725, -0.34799, -0.24649, -0.14882, -0.05188, 0.04257, 0.13606, 0.22393, 0.31287, 0.41667, 0.52135, 0.62967, 0.73545, 0.82562, 0.91093,
                                           1.02119, 1.13281, 1.23461, 1.37297, 1.49158, 1.60383, 1.72012, 1.83990, 1.98437, 2.12700, 2.28554, 2.46262, 2.61139, 2.82196, 3.27393],
                                          nscores).astype(int)
data['Escore'] = data['Escore'].replace( [-3.27393, -3.00537, -2.72827, -2.53830, -2.44904, -2.32338, -2.21069, -2.11437, -2.03972, -1.92173, -1.76250, -1.63340, -1.50796, -1.37639,
                                          -1.23177, -1.09207, -0.94779, -0.80615, -0.69509, -0.57545, -0.43999, -0.30033, -0.15487, 0.00332, 0.16767, 0.32197, 0.47617, 0.63779,
                                          0.80523, 0.96248, 1.11406, 1.28610, 1.45421, 1.58487, 1.74091, 1.93886, 2.12700, 2.32338, 2.57309, 2.85950, 3.00537, 3.27393],
                                          escores).astype(int)
data['Oscore'] = data['Oscore'].replace( [-3.27393, -2.85950, -2.63199, -2.39883, -2.21069, -2.09015, -1.97495, -1.82919, -1.68062, -1.55521, -1.42424, -1.27553,
                                          -1.11902, -0.97631, -0.84732, -0.71727, -0.58331, -0.45174, -0.31776, -0.17779, -0.01928, 0.14143, 0.29338, 0.44585,
                                          0.58331, 0.72330, 0.88309, 1.06238, 1.24033, 1.43533, 1.65653, 1.88511, 2.15324, 2.44904, 2.90161],
                                          oscores).astype(int)
data['Ascore'] = data['Ascore'].replace( [-3.46436, -3.15735, -3.00537, -2.90161, -2.78793, -2.70172, -2.53830, -2.35413, -2.21844, -2.07848, -1.92595, -1.77200, -1.62090, -1.47955,
                                          -1.34289, -1.21213, -1.07533, -0.91699, -0.76096, -0.60633, -0.45321, -0.30172, -0.15487, -0.01729, 0.13136, 0.28783, 0.43852, 0.59042,
                                          0.76096, 0.94156, 1.11406, 1.2861, 1.45039, 1.61108, 1.81866, 2.03972, 2.23427, 2.46262, 2.75696, 3.15735, 3.46436],
                                          ascores).astype(int)
data['Cscore'] = data['Cscore'].replace( [-3.46436, -3.15735, -2.90161, -2.72827, -2.57309, -2.42317, -2.30408, -2.18109, -2.04506, -1.92173, -1.78169, -1.64101, -1.51840, -1.38502,
                                          -1.25773, -1.13788, -1.01450, -0.89891, -0.78155, -0.65253, -0.52745, -0.40581, -0.27607, -0.14277, -0.00665, 0.12331, 0.25953, 0.41594,
                                          0.58489, 0.7583, 0.93949, 1.13407, 1.30612, 1.46191, 1.63088, 1.81175, 2.04506, 2.33337, 2.63199, 3.00537, 3.46436],
                                          cscores).astype(int)
data.head()

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,1,35-44,Female,Professional certificate/diploma,UK,Mixed-White/Asian,39,36,42,37,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
1,2,25-34,Male,Doctorate degree,UK,White,29,52,55,48,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
2,3,35-44,Male,Professional certificate/diploma,UK,White,31,45,40,32,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
3,4,18-24,Female,Masters degree,UK,White,34,34,46,47,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
4,5,35-44,Female,Doctorate degree,UK,White,43,28,43,41,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0

In [8]:
data['Age'].value_counts()

18-24    643
25-34    481
35-44    356
45-54    294
55-64     93
65+       18
Name: Age, dtype: int64

In [9]:
data['Gender'].value_counts()

Male      943
Female    942
Name: Gender, dtype: int64

In [10]:
data['Education'].value_counts()

Some college or university, no certificate or degree    506
University degree                                       480
Masters degree                                          283
Professional certificate/diploma                        270
Left school at 18 years                                 100
Left school at 16 years                                  99
Doctorate degree                                         89
Left school at 17 years                                  30
Left school before 16 years                              28
Name: Education, dtype: int64

In [11]:
len( data[data['Nscore'].isin( nscores )] )  == 1885

True

In [12]:
len( data[data['Escore'].isin( escores )] )  == 1885

True

In [13]:
len( data[data['Oscore'].isin( oscores )] )  == 1885

True

In [14]:
len( data[data['Ascore'].isin( ascores )] )  == 1885

True

In [15]:
len( data[data['Cscore'].isin( cscores )] )  == 1885

True

In [16]:
# save the data to a new csv file
data.to_csv('drug_use_data_cleaned.csv' )

FileNotFoundError: [Errno 2] No such file or directory: '../data/drug_use_data_cleaned.csv'